@page "/"

<SurveyPrompt Title="Wanna try out the cute little DARK theme? 😀" />

<div class="row">
  <div class="col-12 col-md-6">
      <div class="row justify-content-center">
        <h2>Azure Config json</h2>
      </div>
  </div>
  <div class="col-12 col-md-6">
      <div class="row justify-content-center">
        <h2>Appsettings json</h2>
      </div>
  </div>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        //var forecasts = await Http.GetFromJsonAsync<string[]>("sample-data/weather.json");
    }
}