<footer class="footer"  style="text-align: center;">
    <div class="container">
        <span>
            <strong>Powered by: </strong> 
            <a href="https://microsoft.github.io/monaco-editor/">monaco</a>,
            <code>
                <a href="https://github.com/serdarciplak/BlazorMonaco">BlazorManoco</a>
            </code>
        </span>
        <br>
        <span class="text-muted">
            Made with <strong>❤️</strong> by 
            <strong><a href="https://github.com/wahid-d">David Wahid</a></strong>.
        </span>
        <hr/>
        <div class="mb-3">
            <code>Copyright &#64; @DateTime.Now.ToString("yyyy")</code>
            <br>
            <code>v1.0</code>
        </div>
    </div>
</footer>