<div class="alert alert-success mt-4" role="alert">
    <span class="oi oi-moon mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
